<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collaboration with Git/GitHub Workshop</title>
</head>

<body>
    <div class="wall">
        hcmus/gdgoc/><span class="mask">Collaboration</span>.exe --info --all<br />
        Q39%9&gt;?6302:6<span class="mask">with</span>#&gt;$?5~&lt;08?38?cnoaihnocwoihih<br />
        0100010000101<span class="mask">Git/GitHub</span>0100001011000
    </div>
    <div class="content">
        <p>
            Find this project on GitHub:
            <a href="https://github.com/GDSC-HCMUS/Collaboration-with-Git-GitHub-Workshop">github.com/GDSC-HCMUS/Collaboration-with-Git-GitHub-Workshop</a>
        </p>
        <p>Check this API server at: <a href="/test">/test</a></p>
    </div>
</body>

<style>
    .wall {
        margin: 2rem auto;
        margin-left: 50vw;
        transform: translateX(-50%);

        font-size: 50px;
        font-weight: bold;
        font-variant-ligatures: none;

        width: max-content;

        background: repeating-linear-gradient(270deg, #00E0FF 0%, #FFA800 33.33%, #AC00FE 66.66%, #00E0FF 100%);
        -webkit-background-clip: text;
        color: #70718a;

        animation: gradient-slide 10s linear infinite;
    }
    .wall .mask {
        color: transparent;
    }
    @keyframes gradient-slide {
        from {
            background-position: 0px;
        }
        to {
            background-position: 100vw 0;
        }
    }

    .content {
        max-width: 1280px;
        margin: auto;
        padding: 10px;
        font-size: 20px;
        color: #70718a6e;
    }

    @media screen and (max-width: 768px) {
        .wall {
            font-size: 1.5rem;
        }
        .content {
            font-size: 1rem;
        }
    }
</style>

</html>