<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collaboration with Git/GitHub Workshop</title>
</head>

<body>
    <div class="main">
        hcmus/gdgoc/><span class="">Collaboration</span>.exe --info --a <br>
        Q39%9>?6302:6<span class="">with</span>#>$?5~<08?38?cnoaihnocwoihih <br>
            0100010000101<span class="">Git/GitHub Workshop</span>0100001011000

            <div class="mask">
                <span class="">Collaboration</span><br>
                <span class="">with</span><br>
                <span class="">Git/GitHub Workshop</span>
            </div>
    </div>

    <div class="content">
        <p>Find this project on GitHub: <a
                href="https://github.com/GDSC-HCMUS/Collaboration-with-Git-GitHub-Workshop">github.com/GDSC-HCMUS/Collaboration-with-Git-GitHub-Workshop</a>
        </p>
        <p>Check this API server at: <a href="/test">/test</a></p>
    </div>

</body>

<style>
    body {
        width: 100vw;
        overflow-x: hidden;
    }

    .main {
        width: max-content;
        margin-left: 50%;
        transform: translateX(-50%);

        font-size: 50px;
        font-weight: bold;
        color: #70718a6e;

        font-variant-ligatures: none;
    }

    .content {
        width: 100%;
        max-width: 1000px;
        margin: auto;
        padding: 10px;
        font-size: 20px;
        color: #70718a6e;
    }

    .mask {
        position: absolute;
        top: 0;
        left: 13ch;

        background: linear-gradient(270deg, #00E0FF 0%, #FFA800 35%, #AC00FE 50%, #FFA800 75%, #00E0FF 100%);

            {
                {
                !-- background: linear-gradient(270deg, #00E0FF 18.717%, #FFA800 68.778%, #AC00FE, 99.9087%);
                --
            }
        }

        background-size: 200%;


        color: transparent;

        >* {
            margin: 0;
            padding: 0;
            line-height: 1;
        }

            {
                {
                !-- background-position: -100% 0;
                --
            }
        }

        animation: ease-in-out 8s mask alternate infinite;

            {
                {
                !-- transition: animation 2s;
                --
            }
        }

        -webkit-background-clip: text;
    }

    @keyframes mask {
        0% {
            background-position: 0px 0;
        }

        100% {
            background-position: -200% 0;
        }

    }
</style>

</html>